body {font:12px/1.5 '宋体',Arial,sans-serif;background:url("../images/contentbg.jpg") repeat-x;}
/* Customize container 
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}*/
.top1{ background-color: #ED5F31;height:40px;}
.hcol{ background-color: #ED5F31;}
.rcol{font-size:18px; color: red;}
.topc{background-color:#514C48;color:white;}
.top20{padding-top: 20px;}
.top30{padding-top: 30px;}
.h53{height: 53px;background:red;}
.topb{margin-top: 30px;}
.hback{background:red;}
.headimg{background:url("../images/headerbg.png") repeat-x;height:100px;}
.logoimg{width:404px;height:53px;}
.topimg{background:url("../images/car.jpg") no-repeat;height:280px;}
.top15{padding-top: 15px;}
.textcenter{text-align:center;}
.textcolor{color:#990033}
.h1{height:1px;}
.h2{height:2px;}
.h5{height:5px;}
.h20{height:20px;}
.h40{height:40px;}
.h100{height:100px;}
.h180{height:180px;}
.h280{height:280px;}
.w60{width:60px;}
/*
.footer{text-align: center;background:black;height:50px;padding-top:10px;color: #fff;}
*/
.footer{background-color: #E9E7DB;}
.footerCon{width: 1038px; margin: 0 auto; padding: 20px 0 30px;}
.copyright{float: left;}
.logobottom{float: right;}
.footerCon p{color: #656565; line-height: 200%;}
.footerCon p span{margin: 0 10px;}
.footerCon p a{color: #999999}

.clear{clear:both;width:0;height:0; _display:inline; overflow:hidden; font-size:0;}

.current{border-bottom: 3px solid red;}
.split{height:1px;background:red;}
.splitimg{height:12px;background:url("../images/split.png") repeat-x;}
.casebc{background:#E4E4E4;}
.casecbc{background:#fff;}
.right{float:right;margin-right:5px;}
.left{float:left;}
.searchw{width:150px;}
.datetop{padding-top:12px;}
.navbar li{height:50px;}
.navbar li img{height:40px;width:40px;margin-top:-10px;}
.noborder {
border: 0px solid #dddddd;
padding: 0;
}
.flash{width: 1050px; margin: 0 auto; height: 405px; /*position: absolute; top:124px;*/ }
.flash.detail{height: 327px; position: absolute; left: 0; padding:0 9px; z-index: 2; width: 1050px; margin: 0 auto;}
.selectbc{background:#F2F2F2;}
.livcenter{
height:40px;
line-height:40px;
font-size: 18px;
}
.dhlhide{display:none}
.card {
    border-bottom: solid 1px #ddd;
    margin: 0;
    padding-bottom: 5px;
}
.imgh{width:80px;height:40px}
.main-search{}
.main-search__content{position:relative}
.main-search__input{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
background:#FFF;border:1px solid #D4D4D4;font-size:16px;padding:7px 5px 7px 5px;vertical-align:middle;width:200px;-webkit-appearance:none}
.main-search__button{border:none;margin-top:-15px;padding:0;position:absolute;top:50%;right:0;background:red;}
.g-search{background: url("images/search.gif");height:30px;width:30px}